.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.body {
  margin: 0;
}
.mt2 {
  margin-top: 2rem;
}
.todo {
  margin-bottom: 1rem;
}
.todo.completed span {
  text-decoration: line-through;
}
.main {
  background-color: rgb(44, 44, 44);
  min-height: 100vh;
}
.todoDark {
  background-color: #9c9c9c;
}
.nomain {
  background-color: rgb(255, 255, 255);
}
.transition {
  transition: 0.5s;
}
.color {
  color: #f3f3f3;
}
.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background-color: #f3f3f3;
}
.todo i {
  z-index: 2;
}
